html {
    width: 100%;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
body {
    /* width:1440px; */
    background-color: #FFFFFF;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__block-items {
    display: flex;
    flex-direction: column;
    margin: 0px 128px ;
}
.main__block-items:last-child {
    flex-direction: row;
}
.main__block-items__block-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}
.image {
    display: flex;
    flex-direction: row;
}
.text_and_butt {
    color: #103A58;
    font-family: roboto;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.text {
    max-width: 503px;
    color: #9B9B9B;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    font-family: roboto;
}
.main__block-info__item-button {
    color: #ffffff;
    background: linear-gradient(#5FC9F3,#55ABF5);
    padding: 12px 68px;
    border-radius: 10px;
}
.arrowL {
    margin: 10px 15px;
}
.number {
    margin: 10px 15px;
    color: #103A58;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    font-family: roboto;
    opacity: 20%    ;
}
.number:nth-child(2) {
    opacity: 100%   ;
}
.arrowR {
    margin: 10px 15px;
}